.ComboPericia {
  display: inline-flex;
}

.ComboPericia-Input {
  display: flex;
  align-items: baseline;
  text-align: center;
  font-size: var(--font);
}

.ComboPericia-Input div {
  width: 20px;
}

.ComboPericia input {
  display: none;
  font-size: var(--font);
  padding: 0px;
  border: none;
  background-color: inherit;
  text-align: center;
  width: 30px;
  font-family: BreatheFire;
  color: gray
}

.ComboPericia input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.ComboPericia:hover input {
  display: block;
}
