.main {
  min-height: 100%;
  height: 100%;
  background-image: url(https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__cartas {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-items: center;
  row-gap: 40px;
  padding: 100px;
}
