.ComboLabel {
  display: flex;
}

.ComboLabel-Label {
  color: var(--red);
  font-weight: 600;
}

.ComboLabel input {
  background-color: inherit;
  border: none;
  width: 22px;
  text-align: center;
  font-size: var(--font);
  font-family: BreatheFire;
  padding: 0px;
}

.ComboLabel-Combo {
  display: flex;
}

.ComboLabel input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.ComboLabel-Combo button {
  display: none;
}

.ComboLabel:hover .ComboLabel-Combo button {
  background-color: inherit;
  border: inherit;
  display: inline-flex;
  font-size: var(--font);
}
