.ComboLabel {
  display: flex;
}

.ComboLabel input {
  background-color: inherit;
  border: none;
  width: 22px;
  text-align: center;
  font-size: var(--font);
}

.ComboLabel input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.ComboLabel-Combo {
  display: none;
  align-items: center;
}

.ComboLabel-Combo button {
  display: none;
}

.ComboLabel:hover .ComboLabel-Combo button {
  background-color: inherit;
  border: inherit;
  display: inline-flex;
  font-size: var(--font)
}
