.LoginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;

  width: 100vw;
  height: 100vh;

  background-image: url(https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginPage h2 {
  margin: 0px;
  align-self: center;
}

.Form-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  background-image: url(https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  padding: 50px;
  border: var(--red) double 12px;
}

.Form-Container input {
  width: 100%;
}
