.Mst-InputBox {
  width: 100%;
}

.Mst-InputBox input {
  border: none;
  background-color: inherit;
  font-weight: 600;
  font-size: var(--font);
  width: 100%;
  font-family: BreatheFire;
}

.Mst-InputBox textarea {
  border: none;
  background-color: inherit;
  font-size: var(--font);
  width: 100%;
  height: 36px;
}

