.Sheets {
  background-image: url(https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.Sheets-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.Sheets-Toggle {
  display: flex;
  gap: 100px;
}

.Sheets-Toggle button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 20px;
  background-color: inherit;
  border: double var(--red) 8px;
}

.Sheets-Form {
  display: flex;
  border: double var(--red) 8px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Sheets-Label {
  display: flex;
  text-align: center;
  min-width: 400px;
}

.Sheets-Name {
  width: 100%;
  text-align: center;
}

.Sheets-Nd {
  width: 20%;
  text-align: center;
}
