:root {
  --margem-lateral: 5vw;
  --margem-vertical: calc(2vw + 2vh);

  --cor-base: #b5acb2;
  --cor-secundaria: #c26953;
  --cor-contraste: #bf83cc;
  --preto: #211f21;

  --fonte-pequena: clamp(0.875rem, 1vw, 0.75rem);
  --fonte-media: clamp(1.125rem, 1vw, 1.125rem);
  --fonte-grande: clamp(1.75rem, 1vw, 2rem);
}

.App {
  font-size: var(--fonte-media);
  box-sizing: border-box;
  font-family: cursive;
}
