body {
  --red: rgb(150, 0, 0);
  --font: 1rem;
  --fontTitle: 1.1rem;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: BreatheFire;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "BreatheFire";
  src: url("./assets/fonts/Aero\ Matics\ Bold.ttf") format("truetype");
}
